body{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 400px;
    height: 400px;
    background-color: yellow;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}
input{
    border: none;
    border-radius: 30px;
    width: 250px;
    height: 25px;
    margin-top: 90px;
}
input::placeholder{
    position: relative;
    left: 30px;
}
button{
    width: 100px;
    height: 40px;
    background-color: green;
    border: none;
    color: white;
    margin-top: 40px;
    border-radius: 30px;
}
p{
    width: 200px ;
    height: 40px;
    background-color: red;
    border: none;
    color: white;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;

}